<!-- Show stock that you added, and show available portfolio, and how much to buy/sell. Jump to that portfolio when done -->
<%- include('../partials/header') %>
<div>
  <h1>Stock Info</h1>
  <h1><%= stock.ticker%>></h1>
  <h1><%=portfolios%>></h1>
</div>

<%- include('../partials/footer') %>
