<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link defer rel="stylesheet" href="/stylesheets/style.css" />
    <title>PaperTrader Live</title>
  </head>
  <body>
<section class="navPadding">
    <nav>
      <a class="navTitle navButtons" href="/">PaperTrader Live</a>
      <% if (user) { %>
        <a  href="/memberships" <%-   req.user.premium ? 'class="activeNav navButtons"':'class="navButtons basicUser"'  %>  ><%- req.user.premium? 'Premium':'Basic'  %></a>
      <a  href="/stocks" <%-   title === 'Stocks' ? 'class="activeNav navButtons"':'class="navButtons"'  %>  >Stocks</a>
      <a  href="/portfolios" <%- title === 'Portfolios' ? 'class="navButtons activeNav"':'class="navButtons"'%>> Portfolio</a>
      <a class="navButtons" href="/logout">Logout</a>
      <% } else { %>
      <a class="navButtons" href="/auth/google" class="login">Login</a>
      <% } %>
    </nav>
  </section>
  </body>
</html>
<!-- This is to populate all windows with localStorage referrer -->
<script>
localStorage.referrer = document.referrer
</script>

