<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Document</title>
  </head>
  <body>
<section class="navPadding">
    <nav>
      <a class="navTitle navButtons" href="/"  >PaperTrader™</a>
      <% if (user) { %>
        <p  class="nav navUser">(<%= req.user.name.split(' ')[0]%>)</p>
      <a  href="/stocks" <%-   title === 'Stocks' ? 'class="navButtons activeNav"':'class="navButtons"'  %>  >Trade</a>
      <a  href="/portfolios" <%- title === 'Portfolios' ? 'class="navButtons activeNav"':'class="navButtons"'%>> Portfolio</a>
      <a class="navButtons" href="/logout">Logout</a>
      <% } else { %>
      <a class="navButtons " id="loginButton" href="/auth/google" class="login">Login</a>
      <% } %>
    </nav>
  </section>
  </body>
</html>
