<%- include('./partials/header') %>
<div class="pageContainer">
  <div class="heroContent">
    <div class="heroContainer">
      <h1 class="heroTitle">PaperTrader Live</h1>
      <p class="motto">Master your trading - risk free.</p>
      <form action="/stocks">
        <input
          type="submit"
          id="heroStart"
          class="blink_me_hero"
          value="Trade"
        />
      </form>
    </div>
  </div>
</div>
<%- include('./partials/footer') %>
