<%- include('./partials/header') %>

<div class="portfolioContent">
  <div class="portfolioDeleteContainer">
    <h1>PaperTrader</h1>
    <p>Master trading - risk free.</p>
    <form class="" action="/stocks %>">
      <input type="submit" id="portfolioDeleteBack" value="Start" />
    </form>
  </div>
</div>

<%- include('./partials/footer') %>
