<%- include('./partials/header') %>
<div>
  <h1>PaperTrader™</h1>
  <p>
    Master your trading, <br />
    risk free.
  </p>
  <a href="/stocks">Start Trading</a>
</div>
<%- include('./partials/footer') %>
