:root {
  --nav: #131314;
  --background: #000000;
  --greyFont: #727272;
  --whiteFont: white;
  --lightGrey: lightgrey;
  --stockYellow: rgb(221, 188, 0);
  --mustardYellow: rgb(204, 204, 77);
  --transparentYellow: rgba(221, 188, 0, 0.37);
  --stockGreen: rgb(2, 134, 2);
  --stockRed: rgb(170, 0, 57);
  --darkRed: rgb(65, 2, 2);
}

* {
  /* box-sizing: border-box; */
  font-family: Helvetica;
  color: white;
}

body {
  background-color: var(--background);
  margin: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: var(--nav);
  width: 100vw;
  height: 30px;
  text-align: right;
  position: fixed;
  float: top;
  padding: 20px;
}

.navTitle {
  position: absolute;
  left: 2vw;
  padding: 10px;
  color: var(--stockYellow);
  font-weight: bold;
}
.navButtons {
  padding: 10px;
  color: var(--whiteFont);
}
#loginButton {
  background-color: var(--nav);
  border: 2px solid var(--stockYellow);
  color: var(--stockYellow);
  border-radius: 200px;
  padding: 0.2em 0.5em;
  font-size: 0.9em;
  font-weight: bold;
}
#loginButton:hover {
  background-color: var(--stockYellow);
  color: black;
  transition: all 0.25s ease-in-out;
}

.navButtons:hover {
  color: white;
  border-bottom: 3px solid var(--stockYellow);
  padding: 0 10px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.activeNav {
  color: var(--stockYellow);

  font-weight: bold;
  padding: 0 10px;
}

.navUser {
  font-size: 12px;
  color: var(--greyFont);
}

.navPadding {
  padding-bottom: 50px;
}
a {
  text-decoration: none;
}
#watchListContent {
  width: 100vw;
}

tr {
  text-align: right;
}
.tickerLeft {
  text-align: center;
  border-right: 1px solid var(--greyFont);
  font-size: 18px;
  font-weight: bold;
}
.ticker {
  padding: 0 0 0 5px;
  color: var(--whiteFont);
  font-weight: bold;
}
.tickerTitle {
  padding: 0 0 0 5px;
  border-right: none;
  font-weight: bold;
}

.ticker:hover {
  color: var(--stockYellow);
  text-decoration: none;
}

table {
  border-collapse: collapse;
}
#stockListTitle {
  border-bottom: 1px solid var(--greyFont);
  color: var(--greyFont);
}
#eachStock {
  border-bottom: 1px solid var(--greyFont);
  width: 95vw;
}
.stockListRight {
  color: var(--whiteFont);
  /* padding: 5px 0; */
}
.stockRed {
  color: var(--stockRed);
}
.stockGreen {
  color: var(--stockGreen);
}
.tickerForm {
  font-size: 23px;
}
.tickerButton {
  background-color: black;
  border: none;
  width: 100%;
  height: 100%;
}
.tickerButton:hover {
  background-color: var(--stockYellow);
  color: black;
  transition: all 0.2s ease-in-out;
}
#searchForm {
  padding: 0px 10px 10px 0;
  text-align: right;
}
#portfolioForm {
  padding: 20px 0 10px 0;
  text-align: center;
}
#search {
  width: 150px;
  border-radius: 5px;
  font-size: 0.9em;
  background-color: var(--lightGrey);
  color: black;
  outline: 0;
  padding: 3px 15px;
  border: none;
}

.formButton {
  background-color: black;
  border: 2px solid var(--stockYellow);
  color: var(--stockYellow);
  border-radius: 200px;
  padding: 0.2em 0.5em;
  font-size: 0.9em;
  font-weight: bold;
}
.formButton:hover {
  background-color: var(--stockYellow);
  color: black;
  font-weight: bold;
  transition: all 0.25s ease-in-out;
}

#removeStock {
  background-color: var(--darkRed);
  color: white;
  font-size: 0.7em;
  text-align: center;
  vertical-align: middle;
  border-radius: 20px;
  padding: 0.2em 0.6em;
  border: none;
}
#removeStock:hover {
  background-color: var(--stockRed);
  transform: scale(1.4);
  transition: all 0.15s ease-in-out;
}

#removeHeader {
  color: black;
}
.removeButtonSlot {
  padding: 0 10px;
}

#noStock {
  position: absolute;
  top: 40%;
  right: 50%;
  font-size: 20px;
  transform: translateX(75px);
}

#portfolioTable {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#portfolioMod {
  background: black;
  color: white;
  border: 2px solid var(--stockYellow);
  width: 70vw;
  max-width: 400px;
  border-radius: 10px;
  padding: 0.2em 0.5em;
  font-size: 0.9em;
}
#portfolioMod:hover {
  background-color: var(--transparentYellow);
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
}

#portfolioTitle {
  color: var(--lightGrey);
  padding: 50px 0 0 0;
  text-align: center;
  font-size: 35px;
}
#listPortfolio {
  font-size: 30px;
  padding: 10px;
  text-align: center;
}
