:root {
  --nav: #131314;
  --background: #000000;
  --greyFont: #727272;
  --whiteFont: white;
  --lightGrey: lightgrey;
  --stockYellow: rgb(221, 188, 0);
  --stockGreen: rgb(2, 134, 2);
  --stockRed: rgb(170, 0, 57);
}

* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: var(--greyFont);
}

body {
  background-color: var(--background);
  margin: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: var(--nav);
  width: 100vw;
  height: 30px;
  text-align: right;
}

#navTitle {
  position: absolute;
  left: 0;
  padding: 10px;
}
.navButtons {
  padding: 10px;
  color: var(--whiteFont);
}
a {
  text-decoration: none;
}
#watchListContent {
  width: 100vw;
}

tr {
  text-align: right;
}
.tickerLeft {
  text-align: left;
  min-width: 100px;
  padding: 5px 10px;
}
.ticker {
  color: var(--whiteFont);
}
table {
  border-collapse: collapse;
}
#stockListBottom {
  border-bottom: 1px solid var(--greyFont);
}
#eachStock {
  border-bottom: 1px solid var(--greyFont);
}
.stockListRight {
  padding: 5px 10px;
  color: var(--whiteFont);
}
.stockRed {
  color: var(--stockRed);
}
.stockGreen {
  color: var(--stockGreen);
}
#searchForm {
  padding: 20px 0 10px 0;
  text-align: center;
}
#search {
  width: 200px;
  border-radius: 20px;
  background-color: var(--lightGrey);
  color: black;
  outline: 0;
  padding: 3px 15px;
  border: none;
}
#searchButton {
  background-color: var(--stockYellow);
  border-radius: 200px;

  padding: 0.2em 0.5em;
  font-size: 0.9em;
  color: black;
  border: none;
}
#removeStock {
  background-color: var(--stockRed);
  color: white;
  font-size: 0.7em;
  text-align: center;
  vertical-align: middle;
  border-radius: 20px;
  padding: 0.4em 0.6em;
  border: none;
}
#removeHeader {
  color: black;
}
.removeButtonSlot {
  padding: 0 10px 0 0;
}
/* 
body {
  margin: 0;
  height: 100vh;
  display: grid;
  background-color: var(--background);
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    'nav'
    'main';
}

body > nav {
  grid-area: nav;
  background-color: var(--nav);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8eceb;
  padding: 20px;
  overflow-y: scroll;
}

nav > a {
  margin: 10px;
  text-decoration: none;
  padding: 0px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: var(--nav);
}

nav > a.active {
  color: white;
  cursor: default;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#navTitle {
  color: var(--navFont);
} */
