:root {
  --nav: #131314;
  --background: #000000;
  --greyFont: #727272;
  --whiteFont: white;
  --lightGrey: lightgrey;
  --stockYellow: rgb(221, 188, 0);
  --mustardYellow: rgb(204, 204, 77);
  --transparentYellow: rgba(221, 188, 0, 0.37);
  --stockGreen: rgb(115, 255, 0);
  --oldStockGreen: rgb(0, 100, 0);
  --stockRed: red;
  --oldStockRed: rgb(170, 0, 57);
  --darkRed: rgb(65, 2, 2);
}

html {
  font-size: 62.5%;
  font-size: 0.8rem;
}
* {
  /* box-sizing: border-box; */
  font-family: Helvetica;
  color: white;
}

body {
  background-color: var(--background);
  margin: auto;
}

nav {
  display: flex;
  align-items: center;
  /* justify-content: right; */
  background-color: var(--nav);
  width: 100vw;
  height: 2rem;
  text-align: right;
  position: fixed;
  float: top;
  padding: 1.5rem;
  z-index: 2;
}

.navTitle {
  /* position: absolute; */
  left: 2vw;
  padding: 1rem;
  color: var(--stockYellow);
  font-weight: bold;
  white-space: nowrap;
}

#stockTitleAtShow {
  color: var(--stockYellow);
}

.stockShowControls {
  padding: 1rem 0 0 1rem;
}

.navButtons {
  padding: 0 1rem;
  color: var(--whiteFont);
}
.navButtons:hover {
  color: white;
  border-bottom: 0.2rem solid var(--stockYellow);
  padding: 0 1rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.activeNav {
  color: var(--stockYellow);
  font-weight: bold;
  padding: 0 1rem;
}

.navUser {
  font-size: 0.7rem;
  color: var(--greyFont);
}

.basicUser {
  color: var(--greyFont);
  padding: 0 1rem 0 0;
}
.basicUser:hover {
  color: var(--stockYellow);
  text-decoration: none;
}

.navPadding {
  padding-bottom: 3rem;
}
a {
  text-decoration: none;
}
#watchListContent {
  width: 100vw;
  left: 50vw;
  max-width: 1024px;
}
/* #stockContent {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
tr {
  text-align: right;
}
.tickerLeft {
  text-align: center;
  /* border-right: 0.1rem solid var(--greyFont); */
  font-weight: bold;
}
.ticker {
  padding: 0 0 0 0.5rem;
  color: var(--whiteFont);
  font-weight: bold;
}
.tickerTitle {
  padding: 0 0 0 0.5rem;
  border-right: none;
  font-weight: bold;
}

.ticker:hover {
  color: var(--stockYellow);
  text-decoration: none;
}

table {
  border-collapse: collapse;
}
#stockListTitle {
  border-bottom: 0.1rem solid var(--greyFont);
  color: var(--greyFont);
}
#stockName {
  font-size: 0.8rem;
  text-align: left;
  color: var(--stockYellow);
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#eachStock {
  border-bottom: 0.1rem solid var(--greyFont);
  white-space: nowrap;
}
.stockListRight {
  color: var(--whiteFont);
}
.stockRed {
  color: var(--stockRed);
}
.stockGreen {
  color: var(--stockGreen);
}

.tickerButton {
  background-color: black;
  border: none;
  width: 100%;
  max-width: 10rem;
  height: 100%;
  text-align: left;
  padding: 0 0 0 1.5rem;
}
.tickerButton:hover {
  background-color: var(--stockYellow);
  color: black;

  transition: all 0.2s ease-in-out;
}
#searchForm {
  padding: 1rem;
  text-align: right;
}
#portfolioForm {
  padding: 2rem 0 1rem 0;
  text-align: center;
}
.search {
  width: 15rem;
  border-radius: 0.5rem;
  font-size: 0.9em;
  background-color: var(--lightGrey);
  color: black;
  outline: 0;
  padding: 0.3rem 1.5rem;
  border: none;
}

.formButton {
  background-color: black;
  border: 0.2rem solid var(--stockYellow);
  color: var(--stockYellow);
  border-radius: 0.5rem;
  padding: 0.1em 0.5em;
  font-size: 0.9em;
  font-weight: bold;
}
.formButton:hover {
  background-color: var(--stockYellow);
  color: black;
  font-weight: bold;
  transition: all 0.25s ease-in-out;
}

#removeStock {
  background-color: black;
  color: white;
  font-size: 0.7em;
  text-align: center;
  vertical-align: middle;
  border-radius: 2rem;
  padding: 0.2em 0.6em;
  border: none;
}
#removeStock:hover {
  background-color: var(--stockRed);

  transition: all 0s ease-in-out;
}

#removeHeader {
  color: black;
}
.removeButtonSlot {
  padding: 0 1rem;
}

#noStock {
  position: absolute;
  top: 40%;
  right: 50%;
  font-size: 2rem;
  transform: translateX(7.5rem);
}
.stockInfoContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stockInfoTable {
  width: 95vw;
  max-width: 1024px;
}

#portfolioTable {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#portfolioMod {
  background: black;
  color: white;
  border: 3px solid var(--stockYellow);
  width: 70vw;
  max-width: 30rem;
  border-radius: 1rem;
  padding: 0.1em 0.5em;
  font-size: 1em;
}
#portfolioMod:hover {
  background-color: var(--transparentYellow);
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
}

#portfolioTitle {
  color: var(--lightGrey);
  padding: 8rem 0 0 0;
  text-align: center;
  font-size: 3.5rem;
}
#listPortfolio {
  font-size: 3rem;
  padding: 0.25rem;
  text-align: center;
}
.portfolioContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.holdingsList {
  width: 95vw;
  max-width: 1024px;
}
.portfolioList {
  text-align: right;
}

.transactionBorderBottom {
  border: none;
}

#transaction {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.portfolioListTitle {
  border-bottom: 0.1rem solid var(--greyFont);
}

.portfolioSections {
  display: flex;
  flex-direction: column;
  width: 95vw;
  max-width: 1024px;
}
.portfolioEditContainer {
  padding: 0.5rem 0 0 0;
}
.portfolioEdit {
  position: absolute;
  background-color: transparent;
  border: none;
  color: black;
  transform: scale(0.75);
  border-radius: 0.25rem;
  /* margin: 0rem 0 0 -3rem; */
  font-size: 1.5rem;
}

.portfolioEditReveal {
  background-color: var(--stockYellow);
  color: black;
  transition: all 0.25s ease-in-out;
}
#portfolioEditting {
  background-color: black;
  border: 0.1rem solid var(--stockYellow);
  color: var(--stockYellow);
  border-radius: 0.25rem;
  padding: 0 1rem;
  font-size: 1.5rem;
  max-width: 15rem;
}
#portfolioEditting:focus {
  border: 0.1rem solid var(--stockYellow);
  background-color: black;
}
.portfolioDelete {
  border: none;
  background-color: black;
  color: var(--stockRed);
  border-radius: 0.25rem;
  transform: scale(0.75);
  font-size: 1.5rem;
  /* margin: 0 0 0 -0.35rem; */
}

.portfolioDelete:hover {
  background-color: var(--stockRed);
  color: white;
  transition: all 0.25s ease-in-out;
}
#portfolioDeleteFinal {
  background-color: black;
  border: 2px solid var(--stockRed);
  color: var(--stockRed);
  border-radius: 0.5rem;
  margin: 1.25rem 0 0 0;
  padding: 0 2rem;
  font-size: 2rem;
  width: 75vw;
  max-width: 30rem;
}

#portfolioDeleteFinal:hover {
  background-color: red;
  color: white;
  transition: all 0.25s ease-in-out;
  opacity: 100%;
}
.blink_me:hover {
  animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 100%;
  }
}

#portfolioDeleteBack {
  background-color: black;
  border: 1px solid var(--stockYellow);
  color: var(--stockYellow);
  border-radius: 0.5rem;
  margin: 1.25rem 0 0 0;
  padding: 0 2rem;
  font-size: 2rem;
  width: 75vw;
  max-width: 30rem;
}

#portfolioDeleteBack:hover {
  background-color: var(--stockYellow);
  color: black;
  transition: all 0.25s ease-in-out;
}

.portfolioDeleteContainer {
  text-align: center;
  padding: 6rem 0;
}

.tickerTransactionUnbold {
  font-weight: normal;
}

#PLSection {
  display: flex;
  align-content: left;
  padding: 0.5rem;
}
.PLPrices {
  padding: 0 0 0 2rem;
}
.buySell {
  text-align: right;
}
.positionTitle {
  padding: 0 0.5rem 0 0;
}
/* 
#portfolioControl {
  display: flex;
  flex-direction: row;
  align-items: center;
} */
input[type='text']#portfolioEditting::-webkit-input-placeholder {
  color: var(--stockYellow);
}

#chart_div {
  width: 100vw;
  height: 60vw;
}

.buySellButtons {
  background-color: black;
  border: none;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  margin: 0.2rem -0.2rem 0.2rem 0.2rem;
  width: 22vw;
  max-width: 12rem;
}
#buyButton {
  color: greenyellow;
  border: 2px solid greenyellow;
}
#buyButton:hover {
  background-color: greenyellow;
  color: black;
  transition: all 0.1s ease-in-out;
}
#sellButton {
  color: red;
  border: 2px solid red;
}
#sellButton:hover {
  background-color: red;
  color: white;
  transition: all 0.1s ease-in-out;
}

.buySellNumBox {
  background-color: black;
  border: 0.2rem solid var(--stockYellow);
  color: var(--stockYellow);
  border-radius: 0.25rem;
  padding: 0 0 0 1rem;
  font-size: 1.5rem;
  margin: 0 0.2rem;
}
.buySellNumBox:focus {
  border: 0.2rem solid var(--stockYellow);
  background-color: black;
}
#buySellSharesBox {
  width: 22vw;
  max-width: 16rem;
}

.buySellPriceBox {
  background-color: rgb(34, 34, 34);
  color: var(--stockYellow);
  padding: 0 0 0 1.3rem;
  width: 22vw;
  max-width: 16rem;
}

#buySellPriceBoxDollarSign {
  color: var(--stockYellow);
  padding: 0.4rem 0 0 0.8rem;
  font-size: 1.2rem;
  position: absolute;
}

.premiumPriceBox {
  padding: 0 0 0 1.3rem;
  width: 22vw;
  max-width: 16rem;
}

#buySellPortfolioBox {
  width: 35vw;
  max-width: 16rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.detailInfo {
  text-align: center;
}

.heroContent {
  text-align: center;
  margin: 12rem 0 0 0;
}
.heroTitle {
  font-size: 3.5rem;
}
.motto {
  font-size: 1.5rem;
}
#heroStart {
  background-color: black;
  border: 3px solid var(--stockYellow);
  color: var(--stockYellow);
  border-radius: 0.75rem;
  padding: 0 3rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.blink_me_hero {
  animation: blinker 2s ease-in-out infinite;
}
.blink_me_hero:hover {
  animation: blinker 1s ease-in-out infinite;
}
#heroStart:hover {
  background-color: var(--stockYellow);
  color: black;
}

@keyframes blinker {
  50% {
    opacity: 75%;
  }
}

@media (min-width: 478px) {
  body {
    font-size: 1.2rem;
  }
  .navButton,
  .activeNav {
    padding: 0 1rem;
  }
  .activeNav:hover {
    padding: 0 1rem;
  }
  #listPortfolio {
    padding: 0.5rem;
  }
  .navUser {
    font-size: 0.8rem;
    padding: 0 0.5rem;
  }
  #stockName {
  }
}
