<%- include('../partials/header') %>

<table id="portfolioTable">
  <tbody>
    <div id="portfolioTitle">Portfolio</div>
    <% portfolios.forEach(function(p){%>
    <tr>
      <td>
        <form id="listPortfolio" action="/portfolios/<%= p._id %>">
          <input type="submit" id="portfolioMod" value="<%=p.name%> - ($200)" />
        </form>
      </td>
    </tr>

    <% }); %>
  </tbody>
</table>

<form id="portfolioForm" action="/portfolios" method="POST">
  <input id="search" type="text" name="name" placeholder="New Portfolio" />
  <input type="submit" class="formButton" value="Create" />
</form>
<%- include('../partials/footer') %>
