<%- include('../partials/header') %>
<div>
  <h1>Account</h1>
  <table id="list">
    <thead>
      <tr>
        <th>Portfolio Name</th>
      </tr>
    </thead>
    <tbody>
      <% portfolios.forEach(function(p){%>
      <tr>
        <td><%=p.name%></td>
        <td><a href="/portfolios/<%= p._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>

  <a href="/portfolios/new">New Portolio</a>
</div>

<%- include('../partials/footer') %>
