<%- include('../partials/header') %>

<form id="searchForm" action="/portfolios" method="POST">
  <input id="search" type="text" name="name" placeholder="New Portfolio" />
  <input type="submit" id="searchButton" value="Create" />
</form>

<table id="listPortfolio">
  <tbody>
    <% portfolios.forEach(function(p){%>
    <tr>
      <td><a href="/portfolios/<%= p._id %>"><%=p.name%></a></td>
    </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>
